@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Markazi+Text:wght@400..700&family=Mitr:wght@200;300;400;500;600;700&family=Oswald:wght@200..700&family=Russo+One&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* <=======HEADER=======> */
.head-container {
    position: fixed;
    width: 100%;
    z-index: 12;
}

.topnavs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 193, 7);
    color: #fff;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.general-top-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 6vw;
}

.user-navs-logged {
    display:  none !important;
}

.mb-sidebars {
    display: none !important;
}

.logo {
    margin-right: 13vw;
}

.logo img {
    width: 3vw;
    height: auto;
}

.search-container {
    display: flex;
    width: 38%;
    transition: all .3s ease-in-out;
}

#searcher {
    width: 100%;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px 0px 0px 30px;
    border: none;
}

#searcher:focus-visible {
    outline: none;
}

#searcher-submiter {
    display: flex;
    padding: 19px;
    transition: all .4s ease-in-out;
    z-index: 2;
    background: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    background: white;
    border-radius: 0px 30px 30px 0px;
}

#searcher:focus {
    outline: none;
}

#searcher:focus::placeholder {
    display: none;
}

.user-interact {
    display: flex;
    gap: 36px;
    align-items: center;
}

.user-navs {
    display: flex;
}

.user-navs a {
    color: rgb(255, 255, 255);
}

.guess-log {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login {
    background-color: rgb(33 37 41);
    padding: 10px;
    border: 1px solid rgb(33 37 41);
    border-radius: 5px;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.register {
    background-color: rgb(33 37 41);
    padding: 10px;
    border-radius: 5px;
    width: 5vw;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.logout {
    display: block;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.logout:hover {
    transform: scale(1.1);
}

.shopping-cart {
    display: block;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.shopping-cart:hover {
    transform: scale(1.1);
}

.user-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all .3s ease;
    background-color: rgb(33 37 41);
    border-radius: 5px;
    color: white !important;
    font-weight: 600;
    z-index: 2;
    user-select: none;
}

.login:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.register:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.bottomnavs { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33 37 41);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 200;
}
.bottomnavs a {
    color: rgb(255 193 7);
}

.navs-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 12vw;
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a {
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a:hover {
    color: #fff;
    transition: all .3s ease-in-out;
}

/* <---Mobile Sidebar---> */
.mb-sidebar{
    position: fixed;
    top: 12vh;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
    background-color: rgb(33 37 41);
    display: block;
    z-index: 12;
    transition: all .3s ease-in-out;
    transform: translateX(-120vw);
}

.sidebar-open {
    transform: translateX(0vw);
}

.top-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    gap: 75%;
    font-size: 1.5rem;
}

.mb-sidebar ul>li {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.mb-sidebar li>a {
    color: #fff;
    transition: all .3s ease-in-out;
}

.side-content {
    padding: 6vw 0vw 0vw 0vw;
    color: rgb(255, 193, 7);
}
/* <---/Mobile Sidebar---> */
/* <=======/HEADER=======> */


/* <=======MAIN CONTENT=======> */
.container-product {
    display: flex;
    margin-top: 24vh;
    flex-direction: column;
    align-items: center;
}

.content-product {
    display: inherit;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    width: 80%;
}

.add-title {
    position: relative;
    bottom: 40px;
    background-color: white;
    padding: 0px 16px 0px 16px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

.info-box {
    width: 95%;
    height: 100%;
}

.ql-container.ql-snow {
    border: 1px solid rgb(33, 37, 41) !important;
    border-top: none !important;
}

.ql-toolbar.ql-snow {
    border: 1px solid rgb(33, 37, 41) !important;
}

#editor-textarea {
    display: none;
}

#editor-container {
    height: 18vh !important;
}

.text-wrap {
    position: absolute;
    transform: translateY(-27px) translateX(10px);
    color: #757575;
    pointer-events: none;
    transition: all .3s ease-in-out;
    background-color: transparent;
}

.numberInputWrapper {
    width: 100%;
}

.number-wrap {
    position: absolute;
    transform: translateY(-27px) translateX(10px);
    color: #757575;
    pointer-events: none;
    transition: all .3s ease-in-out;
    background-color: transparent;
}

#offer-label {
    transform: translateY(10px) translateX(10px);
}

#color-label {
    transform: translateY(20px) translateX(10px);
}

#flavour-label {
    transform: translateY(20px) translateX(10px);
}

#size-label {
    transform: translateY(20px) translateX(10px);
}

#brand-label {
    transform: translateY(20px) translateX(10px);
}

.addingInput {
    margin-top: 10px;
    width: 94% !important;
}

.textInput:focus + .text-wrap,
 .textInput:not(:placeholder-shown) + .text-wrap {
    font-size: 12px;
    color: rgb(255, 193, 7);
    transform: translateY(-44px) translateX(10px);
    transition: all .3s ease-in-out;
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
}

.sect-1 {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 25%;
}

.sect-2 {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.sect-3 {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.suplements-form {
    display: none;
    flex-direction: column;
    gap: 16px;
}

.shakers-form {
    display: none;
    flex-direction: column;
    gap: 16px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4vh;
}

form input[type="text"] {
    width: 95%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(33, 37, 41);
    transition: all .3s ease-in-out;
}

form input[type="text"]:focus,
form input[type="text"]:not(:placeholder-shown) {
    outline: none;
    border: 1px solid rgb(255, 193, 7);
}

#offer-input {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 1vh;
    user-select: none;
    transition: all .3s ease-in-out;
}

#hot {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
}

#offer-input:hover {
    background-color: rgb(255, 193, 7);
    color: rgb(33, 37, 41);
    border: 1px solid rgb(33, 37, 41);
}

#hot:checked + #offer-input {
    background-color: rgb(255, 193, 7);
    color: rgb(33, 37, 41);
    border: 1px solid rgb(33, 37, 41);
}

#discounter {
    display: none;
}

form input[type="number"] {
    width: 95%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(33, 37, 41);
    transition: all .3s ease-in-out;
}

.numberInput:focus + .number-wrap,
 .numberInput:not(:placeholder-shown) + .number-wrap {
    font-size: 12px;
    color: rgb(255, 193, 7);
    transform: translateY(-44px) translateX(10px);
    transition: all .3s ease-in-out;
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
}

.isnew input[type="checkbox"] {
    cursor: pointer;
}

.numberInput:focus + #offer-label,
 .numberInput:not(:placeholder-shown) + #offer-label {
    transform: translateY(-6px) translateX(10px);
}

.textInput:focus + #color-label,
 .textInput:not(:placeholder-shown) + #color-label {
    transform: translateY(4px) translateX(10px);
}

.textInput:focus + #flavour-label,
 .textInput:not(:placeholder-shown) + #flavour-label {
    transform: translateY(4px) translateX(10px);
}

.textInput:focus + #size-label,
 .textInput:not(:placeholder-shown) + #size-label {
    transform: translateY(4px) translateX(10px);
}

.textInput:focus + #brand-label,
 .textInput:not(:placeholder-shown) + #brand-label {
    transform: translateY(4px) translateX(10px);
}

form input[type="number"]:focus,
form input[type="number"]:not(:placeholder-shown) {
    outline: none;
    border: 1px solid rgb(255, 193, 7);
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.span-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.span-options span {
    color: #757575;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hiddenAdding {
    display: none;
}

.color-list {
    display: flex;
    max-width: 14vw;
    max-height: 7vh;
    border: 1px solid rgb(33 37 41);
    border-radius: 6px;
    padding: 1vw 3vw;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.color-list::-webkit-scrollbar {
    width: 0px;
}

.color {
    width: 120px;
}

.flavour-list {
    display: flex;
    max-width: 14vw;
    max-height: 7vh;
    border: 1px solid rgb(33 37 41);
    border-radius: 6px;
    padding: 1vw 3vw;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.flavour-list::-webkit-scrollbar {
    width: 0px;
}

.flavour {
    width: 120px;
}

.size-list {
    display: flex;
    max-width: 14vw;
    max-height: 7vh;
    border: 1px solid rgb(33 37 41);
    border-radius: 6px;
    padding: 1vw 3vw;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.size-list::-webkit-scrollbar {
    width: 0px;
}

.size {
    width: 120px;
}

.brand-list {
    display: flex;
    max-width: 14vw;
    max-height: 7vh;
    border: 1px solid rgb(33 37 41);
    border-radius: 6px;
    padding: 1vw 3vw;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.brand-list::-webkit-scrollbar {
    width: 0px;
}

.brand {
    width: 120px;
}

.imgInputWrapper {
    width: 100%;
}

.img-displayer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

form select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(33, 37, 41);
    transition: all .3s ease-in-out;
    text-align: center;
    cursor: pointer;
}

form select:hover {
    border: 1px solid rgb(255, 193, 7);
}

form select:focus {
    outline: none;
    border: 1px solid rgb(255, 193, 7);
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categoryContainer span {
    font-size: 14px;
    margin-bottom: 10px;
}

.addProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 46vw;
    margin-top: 4vh;
    padding-bottom: 4vh;
}

#editProduct {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgb(255, 193, 7);
    color: rgb(33, 37, 41);
    border: 2px solid rgb(33, 37, 41);
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    width: 160px;
    margin-bottom: 2vh;
}

#editProduct:hover {
    background-color: rgb(33, 37, 41);
    color: rgb(255, 193, 7);
    border: 2px solid rgb(255, 193, 7);
}

.back-container {
    position: absolute;
    left: 12vw;
    top: 28vh;
}

#backButton {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgb(255, 193, 7);
    color: rgb(33, 37, 41);
    border: 2px solid rgb(33, 37, 41);
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}

#backButton:hover {
    background-color: rgb(33, 37, 41);
    color: rgb(255, 193, 7);
    border: 2px solid rgb(255, 193, 7);
}
/* <---/Main Content---> */

/* <X> RESPONSIVE <X> */
@media (max-width: 480px) {

    body {
        height: 190vh;
    }
    
    /* Header */
    .bottomnavs {
        display: none;
    }

    .topnavs {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .logo {
        margin-left: 20vw;
    }

    .general-top-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .topnavs i {
        font-size: 1.5rem;
    }

    .topnavs a {
        color: rgb(33, 37, 41);
    }

    .mb-sidebars {
        display: flex !important;
    }

    .logo img {
        width: 4rem;
        height: auto;
    }

    .user-navs {
        display: none !important;
    }

    .user-navs-logged {
        display: flex !important;
        gap: 20px;
    }

    .search-container {
        position: fixed;
        top: 13vh;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    #searcher {
        width: 100%;
        border-radius: 0;
    }

    #searcher-submiter {
        transform: scale(1);
        border-radius: 0;
    }

    .logout {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }

    .container-product {
        margin-top: 30vh;
    }

    .content-product {
        width: 90%;
        height: 100%;
    }

    .info-box {
        width: 75%;
    }

    form {
        flex-direction: column;
    }

    form > div {
        width: 100% !important;
    }

    form input[type="text"] {
        width: 94%;
    }

    #text-wrap-desc {
        font-size: 15px;
    }

    .sect-2 {
        margin-top: 8vh;
    }

    .categoryContainer {
        width: 101%;
    }

    .color-list {
        max-width: 100%;
        max-height: 100%;
        height: 12vh;
        width: 50vw;
    }

    .color {
        font-size: 18px;
        padding: 0.7vh 0;
    }

    .flavour-list {
        max-width: 100%;
        max-height: 100%;
        height: 12vh;
        width: 50vw;
    }

    .flavour {
        font-size: 18px;
        padding: 0.7vh 0;
    }

    .size-list {
        max-width: 100%;
        max-height: 100%;
        height: 12vh;
        width: 50vw;
    }

    .size {
        font-size: 18px;
        padding: 0.7vh 0;
    }

    .brand-list {
        max-width: 100%;
        max-height: 100%;
        height: 12vh;
        width: 50vw;
    }

    .brand {
        font-size: 18px;
        padding: 0.7vh 0;
    }

    .addProductContainer {
        margin-top: 6vh;
        left: 32vw;
    }

    #backButton {
        display: none;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    
  }
/* <X> /RESPONSIVE <X> */