@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Markazi+Text:wght@400..700&family=Mitr:wght@200;300;400;500;600;700&family=Oswald:wght@200..700&family=Russo+One&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 6vh;
    height: 100%;
}

a {
    text-decoration: none;
}

/* <=======ADM=======> */
.adm {
    position: fixed;
    z-index: 10;
    bottom: 6vw;
    left: 6vw;
}

.adm button {
    transform: scale(2.5);
    padding: 10px;
    border: none;
    background-color: rgb(33 37 41);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* <=======/ADM=======> */

/* <=======WA=======> */
.wa {
    position: fixed;
    z-index: 8;
    bottom: 4vw;
    right: 6vw;
}

.wa a {
    text-align: center;
    transform: scale(2.5);
    padding: 8px;
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #06c910;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* <=======/WA=======> */

/* <=======HEADER=======> */
.head-container {
    position: fixed;
    width: 100%;
    z-index: 12;
}

.topnavs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 193, 7);
    color: #fff;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.topnavs div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.user-navs-logged {
    display:  none !important;
}

.mb-sidebars {
    display: none !important;
}

.logo img {
    width: 2vw;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
}

#searcher {
    width: 100%;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px;
    border: none;
}

#searcher:focus-visible {
    outline: none;
}

#mb-searcher {
    width: 80%;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px;
    border: none;
}

#mb-searcher:focus-visible {
    outline: none;
}

#mb-searcher-submiter {
    display: flex;
    position: absolute;
    right: 50px;
    padding: 4px;
    z-index: 2;
    background: transparent;
    border: none;
    color: rgb(33, 37, 41);
    cursor: pointer;
}

#searcher-submiter {
    display: flex;
    position: absolute;
    padding: 10px;
    transform: scale(1.5);
    right: 38%;
    transition: all .4s ease-in-out;
    z-index: 2;
    background: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    background: white;
    border-radius: 30px;
}

#searcher:focus {
    outline: none;
}

#searcher:focus::placeholder {
    display: none;
}

.mb-search {
    display: none !important;
}

.user-navs {
    gap: 30px;
    width: 60% !important;
}

.user-navs a {
    color: rgb(255, 255, 255);
}

.user-navs-logged {
    display: none;
}

.guess-log {
    gap: 16px;
}

.login {
    background-color: rgb(33 37 41);
    padding: 10px;
    border: 1px solid rgb(33 37 41);
    border-radius: 5px;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.register {
    background-color: rgb(33 37 41);
    padding: 10px;
    border-radius: 5px;
    width: 5vw;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.logout {
    display: block;
    color: rgb(255, 193, 7);
    transform: translateX(-275px);
    transition: all .3s ease;
    cursor: pointer;
    z-index: -1;
}

.profile {
    display: block;
    color: rgb(255, 193, 7);
    cursor: pointer;
    transform: translateX(-150px);
    transition: all .3s ease;
    z-index: -1;
}

.logout-anim {
    transform: translateX(0px)!important;
    transition: all .3s ease !important;
    z-index: 0 !important;
}

.profile-anim {
    transform: translateX(0px) !important;
    transition: all .3s ease !important;
    z-index: 0 !important;
}

.user-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all .3s ease;
    cursor: pointer;
    background-color: rgb(255, 193, 7);
    border: 1px solid rgb(33 37 41);
    border-radius: 5px;
    color: rgb(33, 37, 41) !important;
    font-weight: 600;
    z-index: 2;
    user-select: none;
}

.user-button i {
    font-size: 24px;
}

.user-options {
    display: flex;
    gap: 40px;
}

.login:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.register:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.bottomnavs { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33 37 41);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 200;
}
.bottomnavs a {
    color: rgb(255 193 7);
}

.navs-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 12vw;
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a {
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a:hover {
    color: #fff;
    transition: all .3s ease-in-out;
}

/* <---User Sidebar---> */
.mb-user-sidebar {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    transform: translateY(0px);
}

.mb-user-sidebar h4 {
    font-weight: 600;
    background-color: rgb(255, 193, 7);
    border-top: 1px solid black;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 3vw 0vw;
}

.mb-user-sidebar-open {
    transform: translateY(22vh);
    transition: all .2s ease-in-out;
}

.guess-content {
    display: flex;
    background-color: rgb(255, 193, 7);
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
}

.guess-content ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 40px;
}

.guess-content a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(33 37 41);
}

.user-logged-content {
    display: flex;
    background-color: rgb(255, 193, 7);
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.user-logged-content ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 40px;
    margin: 0px;
}

.user-logged-content a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(33 37 41);
    width: 100px;
    display: block;
    text-align: center;
}
/* <---/User Sidebar---> */

/* <---Mobile Sidebar---> */
.mb-sidebar{
    position: fixed;
    top: 12vh;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
    background-color: rgb(33 37 41);
    display: block;
    z-index: 12;
    transition: all .3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
    transform: translateX(-300vw);
}

.sidebar-open {
    transform: translateX(0vw);
    transition: all .3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
}

.top-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    gap: 75%;
    font-size: 1.5rem;
}

.mb-sidebar ul>li {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.mb-sidebar li>a {
    color: #fff;
    transition: all .3s ease-in-out;
}

.side-content {
    padding: 6vw 0vw 0vw 0vw;
    color: rgb(255, 193, 7);
}
/* <---/Mobile Sidebar---> */
/* <=======/HEADER=======> */


/* <=======MAIN CONTENT=======> */
/* <---Administrator Options---> */
.administrator-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    padding-top: 24vh;
    width: 100%;
}

.administrator-options u {
    color: rgb(255, 193, 7);
}

.admin-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.admin-options-container h1{
    font-weight: 600;
    font-size: 5rem;
    pointer-events: none;
    user-select: none;
}

.admin-options-content ul {
    display: flex;
    list-style: none;
    gap: 2vw;
    padding: 0px;
}

.admin-options-content a {
    color: #333;
    padding: 20px;
    text-decoration: none;
    border: 1px solid rgb(33 37 41);
    border-radius: 6px;
    background-color: rgb(255, 193, 7);
}

.admin-options-content li > a {
    transition: all .3s ease-in-out;
}

.admin-options-content li > a:hover {
    background-color: rgb(33, 37, 41);
    color: #fff;
}

.go-start {
    display: flex;
    border: 1px solid rgb(33 37 41);
    border-radius: 10px;
    background-color: rgb(255, 193, 7);
    color: #fff;
    transition: all .3s ease-in-out;
    position: fixed;
    bottom: 8vh;
    right: 8vh;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.go-start a {
    padding: 20px;
    color: rgb(33 37 41);
}
/* <---/Administrator Options---> */

/* <<< SECTION PRODUCTS >>> */
.section-options {
    display: flex;
    align-items: center;
}

.other-options {
    display: flex;
    gap: 2vw;
}

.other-options button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    transition: all .3s ease-in-out;
}

#add-product {
    cursor: pointer;
    color: #333;
    transition: all .3s ease-in-out;
}

#add-product:hover {
    color: #999999;
}

#filter {
    cursor: pointer;
    color: #333;
    transition: all .3s ease-in-out;
}

#filter:hover {
    color: #999999;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding-top: 20vh;
    width: 100%;
}

.products-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.products-container h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-right: 65vw;
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    padding: 0;
}

.filter-container-visible {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 20vh;
    padding: 16px;
}

.filter-container label {
    color: #333;
    cursor: pointer;
    transition: all .3s ease-in-out;
    height: 20px;
}

.products-subcontainer {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

.product-box {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    margin-bottom: 2vw;
}

.visual {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 2vw;
}

.item-img-div {
    width: 90px;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.visual img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}

.identifiers p {
    color: #757575;
}

.id-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-options {
    display: flex;
    gap: 10px;
}

#delete-product {
    background-color: rgb(255, 193, 7);
    color: rgb(33 37 41);
    border-radius: 8px;
    width: 46px;
    height: 46px;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    transition: all .3s ease-in-out;
}

#delete-product:hover {
    background-color: #c70505;
    color: #fff;
}

#edit-product {
    background-color: rgb(255, 193, 7);
    color: rgb(33 37 41);
    border-radius: 8px;
    width: 46px;
    height: 46px;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    transition: all .3s ease-in-out;
}

#edit-product:hover {
    background-color: rgb(33 37 41);
    color: rgb(255, 193, 7);
}

.title-deco {
    background-color: #000000;
    height: 2px;
    width: 54vw;
}

.stock-price {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
    font-size: 20px;
}

.stock-price div {
    max-width: 8vw;
}

.stock-price p {
    color: #757575;
}
/* <<</ SECTION PRODUCTS >>> */

/* <<<  SECTION CATEGORIES >>> */
.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding-top: 20vh;
    width: 100%;
}

.categories-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.categories-container h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-right: 70vw;
}

.categories-subcontainer {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

.category-box {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}

.category-box div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.category-box div > form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category-box div > form input[type="text"] {
    width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}

.category-box div > form input[type="text"]:focus {
    outline: none;
}

.category-box div > form select {
    width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}

.category-box div > form input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(255, 193, 7);
    color: rgb(33 37 41);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4vh;
    transition: all .3s ease-in-out;
}

.category-box div > form input[type="submit"]:hover {
    background-color: rgb(33 37 41);
    color: #fff;
}
/* <<</ SECTION CATEGORIES >>> */

/* <<<  SECTION CONTACT >>> */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding-top: 20vh;
    width: 100%;
}

.contact-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.contact-container h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-right: 70vw;
}

.contact-subcontainer {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

#contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-form div {
    display: inherit;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#contact-form label {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 10px;
}

#contact-form input {
    width: 14vw;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 14px;
}

#contact-form input:focus {
    outline: none;
}

#contact-form input[type="button"] {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(255, 193, 7);
    color: rgb(33 37 41);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 14px;
    transition: all .3s ease-in-out;
}

#contact-form input[type="button"]:hover {
    background-color: rgb(33 37 41);
    color: #fff;
}
/* <<</ SECTION CONTACT >>> */

/* <=======/MAIN CONTENT=======> */

/* <X> RESPONSIVE <X> */
@media (max-width: 480px) {
    /* User Options */
    .mb-user-sidebar {
        display: flex;
    }

    /* Adm Button */
    .adm {
        bottom: 12vw;
        left: 12vw;
    }

    .adm button{
        transform: scale(2);
    }

    /* Wa Button */
    .wa {
        bottom: 12vw;
        right: 12vw;
    }

    .wa a{
        transform: scale(2);
    }

    /* Header */
    .bottomnavs {
        display: none;
    }

    .topnavs {
        justify-content: center;
        gap: 16px;
        flex-direction: column;
    }

    .topnavs div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .topnavs i {
        font-size: 1.5rem;
    }

    .topnavs a {
        color: rgb(33, 37, 41);
    }

    .mb-sidebars {
        display: flex !important;
    }

    .logo img {
        width: 4rem;
        height: auto;
    }

    .user-navs {
        display: none !important;
    }

    .user-navs-logged {
        display: flex !important;
        gap: 20px;
    }

    .search-container {
        display: none !important;
    }

    .mb-search {
        display: flex !important;
    }

    #searcher {
        width: 70%;
    }

    .logout {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }
    
    .profile {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }

    .admin-options-container {
        padding: 0;
        height: 70vh;
        justify-content: space-evenly;
    }

    .admin-options-container h1 {
        font-size: 4rem;
        text-align: center;
    }

    .admin-options-content {
        height: 100%;
    }

    .admin-options-content ul {
        height: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .admin-options-content ul>li {
        height: 24%;
    }

    .admin-options-content a {
        width: 200px;
        display: block;
        text-align: center;
    }

    .products-container {
        max-width: 100%;
        padding: 0;
    }

    .categories-container {
        padding: 0;
        width: 100%;
        height: 36vh;
    }

    .categories-container h2 {
        font-size: 2rem;
        margin-right: 60vw;
    }

    .contact-container {
        padding: 0;
        width: 100%;
    }

    .contact-container h2 {
        font-size: 2rem;
        margin-right: 60vw;
    }

    #contact-form {
        flex-direction: column;
    }

    #contact-form div {
        width: 100%;
    }

    #contact-form input {
        width: 60vw;
    }

    .products-container h2 {
        font-size: 2rem;
        margin-right: 14vw;
    }

    .product-box {
        gap: 2vw;
        flex-direction: column;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 16px;
    }

    .product-name {
        width: 72vw;
    }

    .title-deco {
        width: auto;
    }

    .visual {
        gap: 10px;
        width: 100%;
    }

    .item-img-div {
        max-width: 80px;
        max-height: 80px;
    }

    .stock-price {
        gap: 20vw;
    }

    .other-options {
        width: 100%;
    }

    .filter-container-visible {
        padding: 0;
    }

    .id-content p {
        font-size: 12px;
    }

    .id-content {
        gap: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    
  }
/* <X> /RESPONSIVE <X> */