@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Markazi+Text:wght@400..700&family=Mitr:wght@200;300;400;500;600;700&family=Oswald:wght@200..700&family=Russo+One&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#cookie-banner {
    position: fixed;
    bottom: -200px;
    background: #333;
    z-index: 12;
    color: #fff;
    padding: 30px;
    width: 100%;
    text-align: center;
    transition: bottom 0.5s ease-in-out;
}

#accept-cookies {
    margin-left: 10px;
    background: rgb(255, 165, 0);
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', serif;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

#accept-cookies:hover {
    background: rgb(255, 193, 7);
}

/* <=======ADM=======> */
.adm {
    position: fixed;
    z-index: 10;
    bottom: 4vw;
    left: 6vw;
}

.adm button {
    display: flex;
    transform: scale(2.5);
    padding: 10px;
    border: none;
    background-color: rgb(33 37 41);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* <=======/ADM=======> */

/* <=======WA=======> */
.wa {
    position: fixed;
    z-index: 8;
    bottom: 4vw;
    right: 6vw;
}

.wa a {
    text-align: center;
    transform: scale(2.5);
    padding: 8px;
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #06c910;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* <=======/WA=======> */

/* <=======HEADER=======> */
.head-container {
    position: fixed;
    width: 100%;
    z-index: 12;
}

.topnavs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 193, 7);
    color: #fff;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.general-top-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 6vw;
}

.user-navs-logged {
    display:  none !important;
}

.mb-sidebars {
    display: none !important;
}

.logo {
    margin-right: 13vw;
}

.logo img {
    width: 3vw;
    height: auto;
}

.search-container {
    display: flex;
    width: 38%;
    transition: all .3s ease-in-out;
}

#searcher {
    width: 100%;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px 0px 0px 30px;
    border: none;
}

#searcher:focus-visible {
    outline: none;
}

#searcher-submiter {
    display: flex;
    padding: 19px;
    transition: all .4s ease-in-out;
    z-index: 2;
    background: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    background: white;
    border-radius: 0px 30px 30px 0px;
}

#searcher:focus {
    outline: none;
}

#searcher:focus::placeholder {
    display: none;
}

.user-interact {
    display: flex;
    gap: 36px;
    align-items: center;
}

.user-navs {
    display: flex;
}

.user-navs a {
    color: rgb(255, 255, 255);
}

.guess-log {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login {
    background-color: rgb(33 37 41);
    padding: 10px;
    border: 1px solid rgb(33 37 41);
    border-radius: 5px;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.register {
    background-color: rgb(33 37 41);
    padding: 10px;
    border-radius: 5px;
    width: 5vw;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.logout {
    display: block;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.logout:hover {
    transform: scale(1.1);
}

.shopping-cart {
    display: block;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.shopping-cart:hover {
    transform: scale(1.1);
}

.user-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all .3s ease;
    background-color: rgb(33 37 41);
    border-radius: 5px;
    color: white !important;
    font-weight: 600;
    z-index: 2;
    user-select: none;
}

.login:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.register:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.bottomnavs { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33 37 41);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 200;
}
.bottomnavs a {
    color: rgb(255 193 7);
}

.navs-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 12vw;
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a {
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a:hover {
    color: #fff;
    transition: all .3s ease-in-out;
}

/* <---Mobile Sidebar---> */
.mb-sidebar{
    position: fixed;
    top: 12vh;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
    background-color: rgb(33 37 41);
    display: block;
    z-index: 12;
    transition: all .3s ease-in-out;
    transform: translateX(-120vw);
}

.sidebar-open {
    transform: translateX(0vw);
}

.top-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    gap: 75%;
    font-size: 1.5rem;
}

.mb-sidebar ul>li {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.mb-sidebar li>a {
    color: #fff;
    transition: all .3s ease-in-out;
}

.side-content {
    padding: 6vw 0vw 0vw 0vw;
    color: rgb(255, 193, 7);
}
/* <---/Mobile Sidebar---> */
/* <=======/HEADER=======> */


/* <=======MAIN CONTENT=======> */
.products {
    width: 100%;
    margin-top: 24vh;
    margin-bottom: 8vh;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3vh;
}

.product-container {
    display: flex;
    flex-direction: row;
}

.product-selection-container {
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2vw;
    padding-top: 1vh;
}

.product-selection-box {
    display: flex;
    flex-direction: column;
    width: 42%;
    gap: 20px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    width: 200px;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 20px 0px 20px;
}

.selection:hover p {
    color: rgb(102, 102, 102);
    transition: all .3s ease-in-out;
}

.selection-name {
    width: 100%;
    cursor: pointer;
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh 0
}

.selection-name p {
    width: 100px;
    font-size: 12px;
}

.selection-name i {
    transition: all 0.2s ease-in-out;
}

.selection > #category div > label {
    font-weight: 500;
}

.selection:not(#category) div > label {
    font-weight: 500;
    font-size: 12px;
}

#close-filter-mb {
    display: none;
}

.filter-list {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: padding .3s cubic-bezier(0, 0.85, 1, 1);
}

.opened-filter {
    max-height: 500px;
    overflow-y: auto;
    padding: 1vh 0;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.category-arrow.opened-filter-i {
    transform: rotate(90deg);
}

.products-card {
    width: 60%;
    display: grid; /* Activa el grid layout */
    grid-template-columns: repeat(5, 1fr); /* Crea 5 columnas iguales */
    justify-items: center;
    gap: 8px; /* Reduce el espaciado entre los elementos */
    padding: 8px; /* Reduce el espaciado interior del contenedor */
}

.products-card ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

.products-card li {
    margin: 10px;
    flex: 1 1 30%;
    max-width: 200px;
}

.section-name-div {
    margin-left: 16vw;
}

#section-name {
    font-size: 32px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#sorter {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 14px;
    gap: 8px;
    margin-right: 10vw;
    cursor: pointer;
}

#sorter p {
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

#sorter p:hover{
    color: rgb(102, 102, 102);
}

#mb-filter {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 14px;
    gap: 8px;
    margin-right: 10vw;
    cursor: pointer;
}

#mb-filter p {
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

#mb-filter p:hover{
    color: rgb(102, 102, 102);
}

/* <-Item Display-> */
.item-main {
    background-color: white;
    width: 100%; /* Usa todo el ancho disponible en la celda */
    height: 50vh; /* Ajusta la altura automáticamente */
    border-radius: 8px; /* Reducción del radio de bordes */
    border: 1px solid #0000001f;
    text-align: start;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: calc(10px + 0.5vw); /* Mantiene escalabilidad */
    padding: 0.5vw; /* Reduce el padding interno */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* Espaciado interno */
}

.item-img-div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

.item-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#name-product {
    color: rgb(114, 114, 114);
    font-size: 12px;
    font-weight: 500;
    height: 48px !important;
    width: 100%;
    text-overflow: ellipsis;
}

.comparition-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#price {
    font-size: 18px;
}

#price-discount {
    font-size: 18px;
}

#discount-amount {
    font-size: 12px;
    color: #917110;
}

.buy-button {
    height: 32px;
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: xx-small;
    width: 90px;
    background-color: rgb(33 37 41);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.buy-button:hover {
    background-color: rgb(87, 88, 90);
    color: white;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 8px;
}

.products-main-container {
    display: flex;
    justify-content: center;
}

.products-main {
    display: flex;
}

.products-main span {
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}

.products-main li {
    margin-left: 2vw;
}

.products-main-container li {
    list-style: none;
}
/* <-/Item Display-> */
/* <=======/MAIN CONTENT=======> */

/* <=======FOOTER=======> */
.end-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 193, 7);
    color: rgb(33, 37, 41);
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 16px;
}

.social-media a{
    color: #ffffffdc;
}
/* <=======/FOOTER=======> */

/* <X> RESPONSIVE <X> */
@media (max-width: 480px) {
    #cookie-banner {
        display: flex !important;
        flex-direction: column;
        justify-content: space-evenly;
        width: 88%;
        gap: 8px;
        height: 16vh;
    }

    #accept-cookies {
        margin: 0;
        height: 6vh;
    }

    /* Adm Button */
    .adm {
        bottom: 12vw;
        left: 12vw;
    }

    .adm button{
        transform: scale(2);
    }

    /* Wa Button */
    .wa {
        bottom: 12vw;
        right: 12vw;
    }

    .wa a{
        transform: scale(2);
    }

    .mb-search {
        display: flex !important;
    }

    #searcher {
        width: 70%;
    }

    .logout {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }

    /* Header */
    .bottomnavs {
        display: none;
    }

    .topnavs {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .logo {
        margin-left: 20vw;
    }

    .general-top-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .topnavs i {
        font-size: 1.5rem;
    }

    .topnavs a {
        color: rgb(33, 37, 41);
    }

    .mb-sidebars {
        display: flex !important;
    }

    .logo img {
        width: 4rem;
        height: auto;
    }

    .user-navs {
        display: none !important;
    }

    .user-navs-logged {
        display: flex !important;
        gap: 20px;
    }

    .search-container {
        position: fixed;
        top: 13vh;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    #searcher {
        width: 100%;
        border-radius: 0;
    }

    #searcher-submiter {
        transform: scale(1);
        border-radius: 0;
    }

    .logout {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }

    .products {
        margin: 0;
        margin-top: 25vh;
        width: 100%;
        margin-bottom: 6vh;
    }

    .top-section {
        flex-direction: column;
    }

    .organization {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .organization div {
        padding: 16px;
        box-shadow: 0px 0px 2px;
        width: 35%;
    }

    .section-name-div {
        width: 95%;
        margin: 0;
        padding-left: 7vw;
        padding-bottom: 2vh;
        font-family: 'Montserrat', serif;
    }

    #sorter {
        margin: 0;
        justify-content: center;
    }

    #sorter p {
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 500;
        text-decoration: none !important;
    }

    #mb-filter {
        margin: 0;
        justify-content: center;
    }

    #mb-filter p {
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 500;
        text-decoration: none !important;
    }

    .mb-filter-container {
        display: block !important;
    }

    .product-container {
        flex-direction: column;
    }

    .product-selection-container {
        width: 100%;
        position: fixed;
        z-index: 1;
        background: white;
        justify-content: normal;
        padding: 0;
        top: 22vh;
        height: 100%;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        transform: translateX(999px);
        transition: transform .3s ease-in-out;
    }

    .product-selection-container-open {
        transform: translateX(0);
    }

    #close-filter-mb {
        display: block;
        width: 60px;
        height: 36px;
        padding: 0;
        position: relative;
        left: 85%;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .product-selection-box {
        width: 99%;
        margin-top: 4vh;
        height: 100%;
    }

    .selection {
        width: 92%;
        border-radius: 0;
    }

    .products-card {
        grid-template-columns: repeat(2, 1fr);
        width: 96%;
    }

    .item-main {
        padding: 12px;
        width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
        font-size: calc(9px + 0.4vw); /* Reduce ligeramente el tamaño de la fuente */
    }

    #name-product {
        width: 38vw;
    }
}

@media (max-width: 470px) {
    .products-card {
        grid-template-columns: repeat(1, 1fr);
        width: 55%;
    }

    .product-container {
        align-items: center;
    }
}
/* <X> /RESPONSIVE <X> */
