@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Markazi+Text:wght@400..700&family=Mitr:wght@200;300;400;500;600;700&family=Oswald:wght@200..700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* <=======ADM=======> */
.adm {
    position: fixed;
    z-index: 10;
    bottom: 6vw;
    left: 6vw;
}

.adm button {
    transform: scale(2.5);
    padding: 10px;
    border: none;
    background-color: rgb(33 37 41);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* <=======/ADM=======> */

/* <=======WA=======> */
.wa {
    position: fixed;
    z-index: 8;
    bottom: 4vw;
    right: 6vw;
}

.wa a {
    text-align: center;
    transform: scale(2.5);
    padding: 8px;
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #06c910;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* <=======/WA=======> */

/* <=======HEADER=======> */
.head-container {
    position: fixed;
    width: 100%;
    z-index: 12;
}

.topnavs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 193, 7);
    color: #fff;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.topnavs div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.user-navs-logged {
    display:  none !important;
}

.mb-sidebars {
    display: none !important;
}

.logo img {
    width: 3vw;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
}

#searcher {
    width: 100%;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px;
    border: none;
}

#searcher:focus-visible {
    outline: none;
}

#mb-searcher {
    width: 80%;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px;
    border: none;
}

#mb-searcher:focus-visible {
    outline: none;
}

#mb-searcher-submiter {
    display: flex;
    position: absolute;
    right: 50px;
    padding: 4px;
    z-index: 2;
    background: transparent;
    border: none;
    color: rgb(33, 37, 41);
    cursor: pointer;
}

#searcher-submiter {
    display: flex;
    position: absolute;
    padding: 10px;
    transform: scale(1.5);
    right: 38%;
    transition: all .4s ease-in-out;
    z-index: 2;
    background: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    background: white;
    border-radius: 30px;
}

#searcher:focus {
    outline: none;
}

#searcher:focus::placeholder {
    display: none;
}

.mb-search {
    display: none !important;
}

.user-navs {
    gap: 30px;
    width: 60% !important;
}

.user-navs a {
    color: rgb(255, 255, 255);
}

.user-navs-logged {
    display: none;
}

.guess-log {
    gap: 16px;
}

.login {
    background-color: rgb(33 37 41);
    padding: 10px;
    border: 1px solid rgb(33 37 41);
    border-radius: 5px;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.register {
    background-color: rgb(33 37 41);
    padding: 10px;
    border-radius: 5px;
    width: 5vw;
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.logout {
    display: block;
    color: rgb(255, 193, 7);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.logout:hover {
    color: rgb(255, 0, 0) !important;
    text-shadow: none;
}

.profile {
    display: block;
    color: rgb(255, 193, 7);
    cursor: pointer;
    transition: all .3s ease;
}

.user-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all .3s ease;
    background-color: rgb(33 37 41);
    border-radius: 5px;
    color: white !important;
    font-weight: 600;
    z-index: 2;
    user-select: none;
}

.user-button i {
    font-size: 24px;
}

.user-options {
    display: flex;
    gap: 40px;
}

.user-options a {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 2px 2px 2px #00000040;
}

.profile:hover {
    color: rgb(247, 247, 247) !important;
    text-shadow: none;
}

.login:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.register:hover {
    color: rgb(255, 193, 7);
    transition: all .3s ease;
}

.bottomnavs { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33 37 41);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 200;
}
.bottomnavs a {
    color: rgb(255 193 7);
}

.navs-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 12vw;
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a {
    transition: all .3s ease-in-out;
}

.navs-container ul>li>a:hover {
    color: #fff;
    transition: all .3s ease-in-out;
}

/* <---User Sidebar---> */
.mb-user-sidebar {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    transform: translateY(0px);
}

.mb-user-sidebar h4 {
    font-weight: 600;
    background-color: rgb(255, 193, 7);
    border-top: 1px solid black;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 3vw 0vw;
}

.mb-user-sidebar-open {
    transform: translateY(22vh);
    transition: all .2s ease-in-out;
}

.guess-content {
    display: flex;
    background-color: rgb(255, 193, 7);
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
}

.guess-content ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 40px;
}

.guess-content a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(33 37 41);
}

.user-logged-content {
    display: flex;
    background-color: rgb(255, 193, 7);
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.user-logged-content ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 40px;
    margin: 0px;
}

.user-logged-content a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(33 37 41);
    width: 100px;
    display: block;
    text-align: center;
}
/* <---/User Sidebar---> */

/* <---Mobile Sidebar---> */
.mb-sidebar{
    position: fixed;
    top: 12vh;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
    background-color: rgb(33 37 41);
    display: block;
    z-index: 12;
    transition: all .3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
    transform: translateX(-300vw);
}

.sidebar-open {
    transform: translateX(0vw);
    transition: all .3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
}

.top-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    gap: 75%;
    font-size: 1.5rem;
}

.mb-sidebar ul>li {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.mb-sidebar li>a {
    color: #fff;
    transition: all .3s ease-in-out;
}

.side-content {
    padding: 6vw 0vw 0vw 0vw;
    color: rgb(255, 193, 7);
}
/* <---/Mobile Sidebar---> */
/* <=======/HEADER=======> */


/* <=======MAIN CONTENT=======> */
.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 22vh;
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(33 37 41);
}

.product-img {
    width: 500px;
    height: 500px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-about {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-about h3 {
    width: 440px;
    font-size: 32px;
}

.product-price-options {
    display: flex;
    flex-direction: column;
}

.product-price {
    font-size: 24px;
    margin-top: 1vw;
    font-weight: 800;
}

.stock-buy {
    display: flex;
    justify-content: space-between;
}

.add-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 6px;
    transition: all .3s ease-in-out;
}

.add-amount:hover {
    border: 1px solid rgb(116, 116, 116);
}

.add-amount input[type="number"] {
    width: 50%;
    border: none;
    text-align: center;
}

.add-amount input[type="number"]:focus-visible {
    outline: none;
}

.add-amount input::-webkit-outer-spin-button,
.add-amount input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-amount button {
    border: none;
    background-color: white;
    cursor: pointer;
    color: rgba(33, 37, 41, 0.493);
}

.purchase {
    width: 70%
}

.purchase input[type="submit"] {
    border: none;
    border-radius: 4px;
    background-color: green;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: whitesmoke;
    font-family: "Kanit", serif !important;
    font-weight: 500;
    font-style: normal;
    transition: all .3s ease-in-out;
}

.purchase input[type="submit"]:hover {
    background-color: rgb(33, 37, 41);
    color: rgb(255, 193, 7);
}

.comparition-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

#price-discount {
    font-size: 24px;
}

#discount-amount {
    font-size: 18px;
    color: #917110;
}

.more-details {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: rgb(33, 37, 41);
    transition: all .3s ease-in-out;
}

.more-details:hover {
    color: rgb(137, 138, 139);
}

.buy-button {
    position: relative;
    top: 9vw;
}

#out-stock {
    background-color: #2f5245;
    cursor: default;
}

#out-stock:hover {
    color: white;
}

.product-desc {
    display: flex;
    flex-direction: column;
    width: 56vw;
}

.product-desc h3 {
    margin: 0;
}

#description-p {
    font-family: "Kanit", serif !important;
    font-weight: 300;
    font-style: normal;
    color: rgb(33 37 41);
    white-space: normal; /* Permite que el texto se ajuste autom치ticamente */
    max-width: 100%; /* Establece un ancho m치ximo */
    overflow-wrap: break-word; /* Ajusta autom치ticamente palabras largas */
    padding: 10px; /* Espaciado interno para mejor visualizaci칩n */
}
/* <=======/MAIN CONTENT=======> */

/* <=======FOOTER=======> */
.end-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 193, 7);
    color: rgb(33, 37, 41);
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 16px;
}

.social-media a{
    color: #ffffffdc;
}
/* <=======/FOOTER=======> */

/* <X> RESPONSIVE <X> */
@media (max-width: 480px) {
    /* User Options */
    .mb-user-sidebar {
        display: flex;
    }

    /* Adm Button */
    .adm {
        bottom: 12vw;
        left: 12vw;
    }

    .adm button{
        transform: scale(2);
    }

    /* Wa Button */
    .wa {
        bottom: 12vw;
        right: 12vw;
    }

    .wa a{
        transform: scale(2);
    }

    .mb-search {
        display: flex !important;
    }

    #searcher {
        width: 70%;
    }

    .logout {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }
    
    .profile {
        display: block;
        color: rgb(255, 193, 7);
        transform: translateX(0px);
    }

    /* Header */
    .bottomnavs {
        display: none;
    }

    .topnavs {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .topnavs div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .topnavs i {
        font-size: 1.5rem;
    }

    .topnavs a {
        color: rgb(33, 37, 41);
    }

    .mb-sidebars {
        display: flex !important;
    }

    .logo img {
        width: 4rem;
        height: auto;
    }

    .user-navs {
        display: none !important;
    }

    .user-navs-logged {
        display: flex !important;
        gap: 20px;
    }

    .search-container {
        display: none !important;
    }

    .product-about {
        flex-direction: column;
        padding-bottom: 8vh;
        align-items: center;
        border-bottom: 1px solid #d7d7d7;
    }

    .product-img {
        width: 400px;
        height: 400px;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-container h3 {
        overflow-wrap: break-word;
        font-size: 28px;
    }

    .product-price-options {
        align-items: center;
        width: 100%;
    }

    .product-price {
        width: 100%;
    }

    .more-details {
        width: 100%;
    }

    .stock-buy {
        align-items: center;
        justify-content: normal;
        gap: 20px;
        width: 100%;
    }

    .stock-available {
        width: 100%;
    }

    .add-amount {
        width: 30%;
    }

    .purchase {
        width: 70%;
    }

    .product-desc {
        margin-top: 6vh;
        width: 100%;
    }

    .product-desc h3 {
        margin-left: 2vw;
    }

    .name-desc h2 {
        margin-left: 2vw;
    }
}
/* <X> /RESPONSIVE <X> */
