@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0px;
    background-color: rgb(33 37 41);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    position: absolute;
    top: 2vw;
    left: 3vw;
}

.logo img {
    width: 8vw;
}

#cookie-banner {
    position: fixed;
    bottom: -100px;
    background: #333;
    z-index: 12;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: bottom 0.5s ease-in-out;
}

#accept-cookies {
    margin-left: 10px;
    background: rgb(255, 193, 7);
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', serif;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

#accept-cookies:hover {
    background: rgb(255, 165, 0);
    color: whitesmoke;
}

/* <===CONTAINER===> */
.container {
    display: flex;
    justify-content: center;
    height: 953px;
}

/* <--LEFT CONTAINER--> */
.left-container {
    width: 40%;
    display: flex;
    margin-top: 15vw;
    margin-bottom: 15vw;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.left-container a {
    color: rgb(255 193 7);
}

.left-container a:hover {
    color: rgb(243, 216, 134);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

form input {
    border-radius: 10px;
    border: 2px solid;
}

form input:not([type="submit"]) {
    width: 88%;
    padding: 16px;
    transition: all .2s ease;
    margin-bottom: 10px;
}

form > input:not([type="submit"]):focus {
    outline: none;
    border: 2px solid rgb(255 193 7);
    transition: all .2s ease;
}

form input[type="submit"] {
    padding: 10px;
    width: 100%;
    background-color: rgb(255 193 7);
    cursor: pointer;
    transition: all .3s ease;
}

form input[type="submit"]:hover {
    background-color: rgb(33 37 41);
    color: rgb(255 193 7);
    transition: all .3s ease;
}
/* <---/LEFT CONTAINER---> */

/* <--RIGHT CONTAINER--> */
.right-container {
    width: 60%;
    padding-top: 15vw;
    padding-bottom: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 193 7);
    border-left: 2px solid;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: #fff;
}

.about {
    background-color: rgba(33, 37, 41, 0.233);
    width: 80%;
    border-radius: 10px;
}
/* <--/RIGHT CONTAINER--> */

/* <===/CONTAINER===> */

/* <X> RESPONSIVE <X> */

@media (max-width: 480px) {
    #cookie-banner {
        display: flex !important;
        flex-direction: column;
        justify-content: space-evenly;
        width: 96%;
        gap: 8px;
        height: 16vh;
    }

    #accept-cookies {
        margin: 0;
    }

    .logo {
        display: block;
        position: fixed;
        top: 12vw;
        left: 36vw;
    }

    .logo img {
        width: 26vw;
    }

   .container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        position: relative;
        top: 24vw;
    }
   .left-container {
        width: 80%;
    }
   .right-container {
        display: none;
    }
}
/* </X> RESPONSIVE <X> */